<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <th:block th:include="~{/fragments/nav}"></th:block>
	</nav>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add vehicle</span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur rounded" th:object="${vehicleAddBindingModel}" method="POST" th:action="@{/vehicles/add}" enctype="multipart/form-data">
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="make" class="h4 mb-2 text-white">Make</label>
            </div>
            <input th:field="*{make}" th:errorclass="bg-danger" type="text" class="form-control" id="make" name="make"/>
            <small th:each="e : ${#fields.errors('make')}" th:text="${e}" class="text-danger"> Make error</small>
        </div>
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="model" class="h4 mb-2 text-white">Model</label>
            </div>
            <input th:field="*{model}" th:errorclass="bg-danger" type="text" class="form-control" id="model" name="model"/>
            <small th:each="e : ${#fields.errors('model')}" th:text="${e}" class="text-danger">Model error</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="description" class="h4 mb-2">Description</label>
            </div>
            <textarea th:field="*{description}"  th:errorclass="bg-danger" type="text" class="form-control" id="description" name="description"></textarea>
            <small th:each="e : ${#fields.errors('description')}" th:text="${e}" class="text-danger">Description error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="yearOfManufacturing" class="h4 mb-2">Year of manufacturing</label>
            </div>
            <input th:field="*{yearOfManufacturing}" th:errorclass="bg-danger" type="date" class="form-control" id="yearOfManufacturing" name="yearOfManufacturing"/>
            <small th:each="e : ${#fields.errors('yearOfManufacturing')}" th:text="${e}" class="text-danger">Year of manufacturing date error</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="price" class="h4 mb-2">Price</label>
            </div>
            <input th:field="*{price}" th:errorclass="bg-danger" type="number" step="0.1" class="form-control" id="price" name="price"/>
            <small th:each="e : ${#fields.errors('price')}" th:text="${e}" class="text-danger">Price error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="image" class="h4 mb-2 text-white">Image</label>
            </div>
            <input th:field="*{image}" th:errorclass="bg-danger" type="file" class="form-control" id="image" name="image"/>
            <small th:each="e : ${#fields.errors('image')}" th:text="${e}" class="text-danger">Image error</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Category</label>
            </div>
            <select th:errorclass="bg-danger" class="browser-default custom-select" id="category" name="category">
                <option value="">Select category</option>
				<option th:each="c : ${T(com.softuni.model.entity.CategoryName).values()}"
                        th:text="${c}" th:value="${c}"></option>

            </select>
            <small th:each="e : ${#fields.errors('category')}" th:text="${e}" class="text-danger">Category error message</small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Add vehicle</button>
        </div>
    </form>
</main>

<footer class="footer bg-transparent  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
<th:block th:include="~{/fragments/script-loaders}"></th:block>
</body>
</html>
